**/__pycache__/
**/*.pyc
deepspeech/deepspeech-0.9.2-checkpoint/
**/*.wav
**/*.zip
**/*.m4a
**/*.mp4
**/*.avi
**/*.pkl
**/*.dat
data/
deep_3drecon/BFM/
deep_3drecon/network/
deep_3drecon/test/
data_process/test/
audio2motion/log/
audio2motion/model/
render/log/
render/model/
render/tune_log/
render/tune_model/
render/nvp_log/
render/nvp_model/
render/notune_model/
render/notune_log/
render/ted_model/
render/ted_log/
render/ted_model/
render/ted/
huazhibing/
huazhibing.py
test/
visualize/
matting/*.ckpt
evaluation.py